# Project dependencies
.cache
node_modules

# We use yarn.lock
package-lock.json

# Build directory
/public
storybook-static
.DS_Store
.idea
monorepo

# Reports and logs
yarn-error.log
build-storybook.log
test-results

# Pulled from monorepo
src/content/docs
src/generated/versions
src/generated/docs-metadata.json

# Env vars
.env.production
.env.development

# Netlify functions
/functions

# Local Netlify folder
.netlify/
.env