# Project dependencies
.cache
node_modules
yarn-error.log

# We use yarn.lock
package-lock.json

# Build directory
/public
storybook-static
.DS_Store
.idea
monorepo

# Pulled from monorepo
src/content/docs

# Env vars
.env.production
.env.development

# Netlify functions
/functions
# Local Netlify folder
.netlify